body {
    background-color: black;
    height: 100vh;
}

video {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.2;
}

.container-md {
    max-width: 1200px;
}

.container-fluid {
    padding: 0;
}

.navbar-brand {
    color: white;
    cursor: pointer;
    width: 250px;
    height: 50px;
}

.navbar-brand:hover {
    color: #441c1c;
}

.bg {
    background: linear-gradient(#000000, #9198e500);
}

.modal-content {
    background-color: black;
    background: linear-gradient(#441c1c, #000000);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.594);
}

.btn {
    font-size: 13px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.select_doctor{
    margin-bottom: 15px;
}

.center {
    padding: 10vh 0;
}


.card {
    background-color: black;
    background: linear-gradient(#4b2727a9, #222daa00);
    color: #fff;
    --bs-card-border-color: none;
}


.forms {
    margin-top: 50px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
    color: rgb(205, 204, 204);
}


.form-floating>.form-select {
    padding-top: 9px;

}


.form-control {
    padding-top: 0;
    background-color: #0000005f;
    border-color: rgb(117, 117, 117);
    color: white;

}

.form-floating>.form-control:focus {
    background-color: #0000005f;
    color: white;
    padding-top: 9px;
}

.form-select {
    padding-right: 25px;
    background-color: #0000005f;
    border-color: rgb(117, 117, 117);
    color: rgb(205, 204, 204)
}



#floatingSelectGrid {

    height: 40px;
}

#floatingInputGrid {

    height: 40px;
}


.s {
    height: 40px;
    max-width: 80%;
    z-index: 1000;
    margin: 25px auto;
    display: block;
}



.search-zone {
    margin-top: 5vh;
}